

#gray {
    background-color: lightgray;
}

#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#orange {
    color: orange;
}

.underline {
    text-decoration: underline;
}







.pink-bg {
    background-color: pink;
}

.blue-bg {
    background-color: lightblue;
}

.large {
    font-size: 30px;
}

.light-padding {
    padding: 20px;
}

